* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    user-select: none;
    max-width: 1440px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    position: relative;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2A3647;
    height: 100%;
    width: 15%;
    min-width: 260px;
}

input:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

.header-and-content-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    justify-content: flex-start;
    overflow-y: scroll;
    position: relative;
}

.header-and-content-container::-webkit-scrollbar {
    width: 8px;
}

.header-and-content-container::-webkit-scrollbar-thumb {
    background: #017afa;
    border-radius: 100px;
}

.content-container {
    flex-direction: column;
    display: flex;
    padding: 16px 48px;
    background: #F6F7F8;
    flex: 1;
    overflow-y: scroll;
}

.content-container::-webkit-scrollbar {
    display: none;
}

.content-explanation-container {
    overflow-y: scroll;
    padding: 16px 48px;
}

.content-explanation-container::-webkit-scrollbar {
    width: 6px;
}

.content-explanation-container::-webkit-scrollbar-thumb {
    background: #2A3647;
    border-radius: 100px;
}

.legal-policy-main-container {
    display: flex;
    height: 100vh;
}

.legal-policy-content-container {
    padding: 16px 24px;
    overflow-y: scroll;
}

.legal-policy-content-container::-webkit-scrollbar {
    width: 6px;
}

.legal-policy-content-container::-webkit-scrollbar-thumb {
    background: #2A3647;
    border-radius: 100px;
}

.copyright-main-container {
    display: flex;
    height: 100vh;
}

.copyright-content-container {
    padding: 16px;
}

@media (max-width: 1200px) {
    .header-and-content-container {
        overflow-y: hidden;
    }
}

@media (max-width: 1050px) {
    .content-container {
        padding: 16px 24px;
        justify-content: center;
    }

    .content-explanation-container {
        padding: 16px 24px;
    }

    .summary-title-container h2 {
        font-size: 47px;
    }

    .summary-title-container h3 {
        font-size: 21px
    }

    .d-none-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .content-container {
        padding: 16px;
        margin-bottom: 100px;
    }

    .content-explanation-container {
        padding: 16px;
    }

    .legal-policy-content-container {
        margin-bottom: 100px;
    }
}

@media (max-width: 430px) {
    .content-container {
        padding: 16px 8px;
    }

    .generator_results_content h1 {
        font-size: 24px;
    }

    .generator_results_content h2 {
        font-size: 22px;
    }

    .generator_results_content h3 {
        font-size: 18px;
    }
}

.d-none {
    display: none;
}