* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    user-select: none;
    max-width: 1440px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    position: relative;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2A3647;
    height: 100%;
    width: 15%;
    min-width: 230px;
}

input:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

.header-and-content-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    justify-content: flex-start;
    overflow-y: scroll;
}

.header-and-content-container::-webkit-scrollbar {
    width: 8px;
}

.header-and-content-container::-webkit-scrollbar-thumb {
    background: #017afa;
    border-radius: 100px;
}

.content-container {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 16px 48px;
    background: #F6F7F8;
    flex: 1;
}

@media (max-width: 1050px) {
    .content-container {
        padding: 16px 24px;
        justify-content: center;
    }

    .summary-title-container h2 {
        font-size: 47px;
    }

    .summary-title-container h3 {
        font-size: 21px
    }

    .d-none-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .content-container {
        padding: 16px
    }
}

@media (max-width: 430px) {
    .content-container {
        padding: 16px 8px;
    }
}

.d-none {
    display: none;
}