<h2 class="header-title">Kanban Project Management Tool</h2>

<div class="info-and-initials-container">
    <img class="help-icon" src="./assets/img/help-icon.png" alt="">
    <div onclick="submenuTrigger()" class="initials-container">
        <span id="initials-current-user" class="initials-current-user"></span>
    </div>
</div>

<div id="submenu" class="submenu">
    <span class="submenuOption d-none">Legal Notice</span>
    <span class="submenuOption d-none">Private policy</span>
    <span onclick="logOut()" class="submenuOption d-none">Log out</span>
</div>