<h2 class="header-title">Kanban Project Management Tool</h2>
<img class="logo-small-header" src="./assets/img/logo-small-blue.png" alt="">

<div class="info-and-initials-container">
    <a href="help.html"><img class="help-icon" src="./assets/img/help-icon.png" alt=""></a>
    <div onclick="submenuTrigger()" class="initials-container">
        <span id="initials-current-user" class="initials-current-user"></span>
    </div>
</div>

<div onmouseleave="submenuTrigger()" id="submenu" class="submenu">
    <a href="legal-policy.html" class="submenuOption d-none">Legal Notice</a>
    <a href="copyright.html" class="submenuOption d-none">Private policy</a>
    <span onclick="logOut()" class="submenuOption d-none">Log out</span>
</div>