<div class="navbar-logo-container">
   <img class="navbar-white-logo" src="./assets/img/logo-small-white.png" alt="">
</div>
<div class="navbar-link-container">
   <a id="summary-link" class="navbar-link" href="../../summary.html">
      <div class="icon-and-text-link-container">
         <img src="./assets/img/summary-icon.png" alt="">
         <span>Summary</span>
      </div>
   </a>
   <a id="add-task-link" class="navbar-link" href="../../addTask.html">
      <div class="icon-and-text-link-container">
         <img src="./assets/img/summary-icon.png" alt="">
         <span>Add Tasks</span>
      </div>
   </a>
   <a id="board-link" class="navbar-link" href="../../board.html">
      <div class="icon-and-text-link-container">
         <img src="./assets/img/summary-icon.png" alt="">
         <span>Board</span>
      </div>
   </a>
   <a id="contacts-link" class="navbar-link" href="../../contacts.html">
      <div class="icon-and-text-link-container">
         <img src="./assets/img/summary-icon.png" alt="">
         <span>Contacts</span>
      </div>
   </a>
</div>

<div class="legal-policy-container">
   <a href="legal-policy.html">Legal Policy</a>
   <a href="copyright.html">Copyright</a>
</div>